@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*?Inicioooooo*/

body{
    background-color: black;
    font-family: 'Inter', sans-serif;
}

/*!Headeeeer*/

/*!---------------------------Header------------------------------------*/

header{
    z-index: 1;
    background-color: #F9F5E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120%;
    top: 0;
    position: sticky
}

header img{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

header nav a:hover{
    color:rgb(10, 168, 10);
}

header nav ul li{
    list-style: none;
    text-align: right;
    /*display: inline-block;*/
    margin: 40px 40px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 18px;
}

/*!-------------------------Heroseccion--------------------------------------*/
.hero{
    background-image: url("../img/Seleccionadas/planta1.JPG");
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.781);
}


.hero h1{
    font-size: 80px;
    padding: 30px;
    font-family: 'Crimson Pro', serif;
    text-align: center;
}

.parrafo{
    align-items: center;
    font-size: 30px;
    border: #00000067 solid 4px;
    margin-top: 15%;
    backdrop-filter: blur(15px);
}

.parrafo p{
    text-align: center;
}
/*!section Lineas*/



/*!------------------------CONTENEDOR DE LINEAS------------------------*/

/**------------------------CON-GRIIIIDSSSSSSS------------*/

.lineas-contenedor img{
    width: 406px;
    height: 307px;
    border: #c7c268 solid 1px;
}

.lineas{
    width: auto;
    height: auto;
    border-bottom:  #c7c268 solid 2px ;
}

.lineas-contenedor{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    column-gap: 30px;
    justify-items: center;
    align-items: center;
    margin: 40px;
}

.lineas-contenedor div{
    padding: 20px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineas h2{
    color: #f0edd7;
    text-align: center;
    margin: 30px;
    border-bottom: #c7c268 solid 1px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
}

.lineas-contenedor div h3{
    position: absolute;
    border: #00000067 solid 3px;
    left: 90px;
    right: 90px;
    backdrop-filter: blur(15px);
    color: #c7c268;
    text-align: center;
}
/*?------------------------CON-FLEXBOX------------------------*/
/* .lineas{
    width: 100%;
    height: 100vh;
    border-bottom: #c7c268 solid 2px;
    border-top: #c7c268 solid 2px;
    flex-wrap: wrap;
}

.lineas h2{
    color: #f0edd7;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: #c7c268 solid 1px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
}

.lineas .lineas-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 80vh;
}
.lineas-contenedor div img{
    width: 406px;
    height: 307px;
    border: #c7c268 solid 1px;
}

.lineas .lineas-contenedor div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.lineas .lineas-contenedor div h3{
    position: absolute;
    border: #00000067 solid 3px;
    left: 90px;
    right: 90px;
    backdrop-filter: blur(15px);
    color: #c7c268;
    text-align: center;
} */


/*?------------------------SIN-FLEXBOX------------------------*/
/*
.lineas h2{
    color: #f0edd7;
    text-align: center;
    padding: 10px;
}

.lineas div img{
    width: 406px;
    height: 307px;
}

.lineas div{
    display: inline-block;
    border: #f0edd7 solid 2px;
    width: 412px;
    height: 313px;
    margin: 50px;
    padding: 1px;
    left: 9%;
    right: 9%;
    text-align: center;
    position: relative;
    align-items: center;
}


.lineas div h3{
    position: absolute;
    border: #00000067 solid 3px;
    top: 45%;
    left: 90px;
    right: 90px;
    backdrop-filter: blur(15px);
    color: #c7c268;
}


/*!------------------------------Videoo-------------------------*/

.video{
    width: 100% ;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-bottom: #c7c268 solid 2px;
    flex-wrap: wrap;

}
.video div{
    width: 50%;
    margin: 50px;
    color: #f0edd7;
}

.video div h2{
    text-align: center;
    margin: 10px;
    font-size: 30px;
}

.video div p{
    padding: 20px;
    font-size: 25px;
}
.video video{
    width: 600px;
    height: 500px;

}

/*?--------------------------Contacto------------------------*/
.contacto{
    color: #c7c268;
}
.contacto div a img{
    width: 40px;
    height: 40px;
}

.contacto div h2{
    text-align: center;
    margin: 30px;
}
.contacto div a img{
    text-align: center;
    margin: 30px;

}
.contacto h1{
    text-align: center;
    margin-top: 30px;
}

.formularioconteiner div{
    margin: 10px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;

}

/*!---------------------------Foooooter-------------------------------------------*/
.footer{
    position: relative;
    background-color: #524c4c;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    
}
.mapa{
    /*border: #c7c268 solid 4px;*/
    margin-left: 20px;

}
.mapa iframe{
    margin: 30px;
    width: 300px;
    height: 200px; 


}

.redes a img{
    width: 51px;
    height: 51px;
}
.redes{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}
.redes a{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-right: 40px;
}

.textofooter{
    display: flex;
    align-items: flex-start;
}
.textofooter div{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.textofooter div a{
    color: #f0edd7bb;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    border-bottom: black solid 2px;
    text-align: center;
    margin: 5px;
}

/*?------------------Lineabienestar-page------------------*/
.lineabienestar{
    color: #c7c268;
    width: 100%;
}
.bienestarproductos{
    color: #f0edd7;
    width: 100%;
    height: 50%;
}

/*! .lineabienestar h2{
    text-align: center;
    align-items: center;
    padding: 40px;
    background-image: url("../img/Seleccionadas/fondoh2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    border: #524c4c solid 2px;
    backdrop-filter: blur(900px);
} esta es la que deberia ir*/

/* .lineabienestar h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #f0edd7 80px;
    margin: 20px;
    width: 100%;
    height: 80px;
} */

.bienestarproductos div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45vh;
    margin-top: 5%;

}

/*.bienestarproductos .Balsamorelajante{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75vh;
    margin-top: 3%;
    border: #c7c268 solid 4px;

}
*/

.bienestarproductos div img{
    width: 460px;
    height: 307px;
    border: #c7c268 solid 2px;
}

.bienestarproductos div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 10px;
}
.bienestarproductos div div div{
    width: 460px;
    
}

.bienestarproductos div p{
    text-align: center;
    font-size: 20px;
}

.bienestarproductos div div div h3{
    border-bottom: #c7c268 solid 1px;
}

.bienestarproductos div div div a{
    text-decoration: none;
    color: #f0edd7;
    font-size: 20px;
    font-weight: 500;
    border: #c7c268 solid 1px;
    padding: 10px;
}


/*}
.bienestarproductos div div{
    display: flex;
    flex-direction: column;
    padding: 12%;
    align-items: center;
    justify-content: center;
    border: #c7c268 solid 2px;
    width: 490px;
    height: 390px;
    margin: 50px;

}

.bienestarproductos div div h3{
    text-align: center;
}

.bienestarproductos div img{
    width: 460px;
    height: 307px;
}

.bienestarproductos div div a{
    border: #c7c268 solid 3px;
    margin: 60px;
}
*/


.lineabienestarh2{
    background-image: url("../img/Seleccionadas/fondoh2.JPG");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

.lineabienestarh2 div{
    align-items: center;
    padding: 4px;
    border: none solid 2px;
    backdrop-filter: blur(2px);
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lineabienestarh2 div h2{
    color: #f0edd7;
    padding: 10px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Crimson Pro', serif;
    /* border: #c7c268 solid 1px;
    margin-left: 40px;
    margin-right: 30px; */


}
/*!------------------------------Lineacapilar----------------*/
.lineacapilar{
    color: #f0edd7;
    width: 100%;
}
.capilarproductos{
    color: #f0edd7;
    width: 100%;
    height: 50%;
}

.lineacapilar h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #f0edd7 80px;
    margin: 20px;
    width: 100%;
    height: 80px;
}

.capilarproductos div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45vh;
    margin-top: 5%;

}

.capilarproductos div img{
    width: 460px;
    height: 307px;
    border: #c7c268 solid 2px;
}

.capilarproductos div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 10px;
}
.capilarproductos div div div{
    width: 460px;
    
}

.capilarproductos div p{
    text-align: center;
    font-size: 20px;
}

.capilarproductos div div div h3{
    border-bottom: #c7c268 solid 1px;
}

.capilarproductos div div div a{
    text-decoration: none;
    color: #f0edd7;
    font-size: 20px;
    font-weight: 500;
    border: #c7c268 solid 1px;
    padding: 10px;
}


/*!------------------Stocklimitado---------------*/
.stock .stockconteiner img{
    width: 400px;
    height: 247px;
    border: #c7c268 solid 1px;
}

.stock .stockgrid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
    padding: 40px;
}

.stock .stockgrid .stockconteiner h2{
    color: #f0edd7;
    text-align: center;
    font-size: 20px;
    border-bottom: #c7c268 solid 1px;
    padding: 10px;

    
}

.stock h1{
    color: #f0edd7;
    text-align: center;
    padding: 20px;
    border-bottom: #c7c268 solid 2px;
    margin-left: 30%;
    margin-right: 30%;

}

.stock .stockgrid .stockconteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #5e5d568f;
    align-items: center;
}

/*!------------------nosotros---------------*/
.nosotros{
    color: #c7c268;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    border-bottom: #c7c268 solid 3px;
}

.nosotros img{
    width: 900px;
    height: 500px;
    margin: 20px;
    
}

.nosotros2 img{
    width: 100%;
    height: 100vh;

}
.nosotros2{
    color: #c7c268;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin: 30px;
}
.nosotros2 p{
    margin: 30px;
}
