/*!---------------------------Header------------------------------------*/
header{
    @include flex (flex, space-between, center);
    z-index: 1;
    background-color: #f9f5e4;
    top: 0;
    position: sticky;
    img{
        @extend %WandH100;
        margin-left: 100px;
    }
    nav{
        ul{
            @include flex (flex, space-around, center);
            @extend %marginpad;
            .lista{
                @extend %flex;
                margin: 0px;
                padding: 0px;
                a{
                    @include WandH100 (18PX, 900);
                    text-decoration: none;
                    color: black;
                    transition: 0.5s;
                    &:hover{
                        color: nth($colores, 3);
                    }
                }
                .dropdown{
                    @extend %flex;
                    @extend %letrasdeco;
                    border: none;
                    a{
                        text-align: center;
                        padding: 2px;
                    }
                    .dropdown-menu{
                        @extend %letrasdeco;
                        @include bgandcolor (nth($colores, 8), nth($colores, 5));
                        border: none;
                        li{
                            a{
                                color: nth($colores, 5);
                                transition: 0.5s;
                                &:hover{
                                    color: nth($colores, 7)
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}