header{
    z-index: 1;
    background-color: #f9f5e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;

    .imgheader{
        img{
            @extend %WandH100;
        }
    }
    nav{
        ul{
            @include flex (flex, space-around, center);
            @extend %marginpad;

            .lista{
                @include flex (flex, center, center);
                list-style: none;
                text-align: right;
                margin: 40px;

                a{
                    @include tamañoletras (18px, 900);
                    text-decoration: none;
                    color: black;
                    align-items: center;
                    transition: 0.5s;
                    &hover {
                        color:rgb(10, 168, 10);
                    }
                }
                .alogo{
                    @extend %flex;
                    height: 100%;
                    .logo{
                        @include WandH100(35px, 35px);
                        @extend %marginpad;
                    }
                }
                .dropdown{
                    @extend %flex;
                    @extend %letrasdeco;
                    border: none;

                    .btn{
                        text-align: center;
                        padding: 2px;
                    }
                    
                    .dropdown-menu{
                        @extend %letrasdeco;
                        @include bgandcolor (#1f1f1f, #f0edd7bb);
                        @extend %letrasdeco;
                        border: none;

                        li{
                            .dropdown-item{
                                color: #f0edd7bb;
                                transition: 0.5s;
                                text-align: center;
                                &:hover{
                                    color:#c7c268;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

