.hero{
    @include WandH100(100%, 100vh);
    background-image: url("../img/Seleccionadas/planta1.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: rgba(255, 255, 255, 0.781);
    
    h1{
        @include tamañoletras (80px, 600);
        padding: 30px;
        font-family: 'Crimson Pro', serif;
        text-align: center;
        .SpanHero{
            color: #c7c268;
            font-style: italic;
        }
    }
    .parrafo{
        @extend %flex;
        font-size: 30px;
        border: #00000067 solid 4px;
        margin-top: 10em;
        backdrop-filter: blur(15px);

        p{
            text-align: center;
            margin: 0px;
        }
    }
}

//!------------Seccion-Lineas------------//

.lineas{
    @extend %WandH100;
    border-bottom: #c7c268 solid 2px ;
    margin-top: 40px;

    .lineas_h2{
        @extend %flex;
        
        h2{
            @include marginpad(30px, 20px);
            width: 60%;
            color: #f0edd7;
            font-family: 'Crimson Pro', serif;
            text-align: center;
            border-bottom: #c7c268 solid 1px;
            font-size: 45px;
        }
    }
    .lineas-contenedor{
        @include grid(grid, repeat(3,1fr), repeat(2,1fr));
        justify-items: center;
        align-items: center;
        row-gap: 40px;
        @include marginpad(0, 40px);

        div{
            @extend %flex;
            position: relative;
            text-align: center;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
            h3{
                position: absolute;
                border: #00000067 solid 3px;
                left: 20%;
                right: 20%;
                backdrop-filter: blur(15px);
                color: #c7c268;
                text-align: center;
                font-family: 'Crimson Pro', serif;
                font-size: 25px;
            }

            a{
                @include WandH100(406px, 307px);

                img{
                    @include WandH100 (406px, 307px);
                    border: #c7c268 solid 1px;
                }
            }

        }
    }
}

//!-------Seccion-video-------//

.video{
    @include flexdirection (flex, center, row-reverse, center); 
    width: 100%;
    border-bottom: #c7c268 solid 2px;
    flex-wrap: wrap;

    video{
        @include WandH100(600px, 500px);
    }

    div{
        @include WandH100(50%, 50px);

        h2{
            @include tamañoletras(20px, 700);
            color: #c7c268;
            margin: 10px
        }

        p{
            color: #f0edd7;
            padding: 20px;
            font-size: 25px;
        }
    }
    
}
//!Seccion Stock//

.carrusel_section{
    @extend %flex;
    @include WandH100(100%, 380PX);
    background-color: #252525;
    margin-bottom: 100px;
    .carrusel_div{
        padding: 20px;
        width: 45%;
        display: flex;
        justify-content: flex-end;
        .carousel{
            @include WandH100(700px, 400px);
            .carousel-indicators{
                margin-bottom: 0;
            }
            .carousel-inner{
                box-shadow: 1px 1px 38px -8px rgba(255,255,255,0.57);
                -webkit-box-shadow: 1px 1px 38px -8px rgba(255,255,255,0.57);
                -moz-box-shadow: 1px 1px 38px -8px rgba(255,255,255,0.57);
                border: #c7c268 solid 3px;
                .carousel-item{
                    height: 100%;
                    .carousel-img{
                        @include WandH100(700px, 400px);
                        img{
                            @include WandH100(700px, 400px);
                        }
                    }
                    .carousel-caption{
                        @include flexdirection(flex, space-between, column, center);
                        @extend %WandH100;
                        left: 0;
                        right: 0;
                        padding-bottom: 3px;
                        .h2_stock{
                            margin-top: 2px;
                            border-bottom: #c7c268 solid 1px;
                            padding: 5px;
                            color: #f0edd7;
                            h3{
                                font-size: 25px;
                                font-family: 'Crimson Pro', serif;
                                @include marginpad(0, 2px);
                            }
                        }
                        .consultar_stock{
                            @extend %flex;
                            a{
                                @include WandH100(100px, 40px);
                                @include bgandcolor(#02010852, #f0edd7a4);
                                border: #c7c2686b solid 2px;
                                border-radius: 30px;
                                text-decoration: none;
                                &:hover{
                                    @include bgandcolor(#f0edd7, #c7c268);
                                    border: #c7c268 solid 3px;
                                }
                                p{
                                    font-size: 20px;
                                    font-family: 'Crimson Pro', serif;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .descripcion_stock{
        @include WandH100(100%, 55%);
        @include flexdirection(flex, center, column, center);
        padding: 10px;
        transition: 1s;
        color: #f0edd7;
        &:hover{
            @include WandH100(70%, 108%);
            background-image: url("../img/Seleccionadas/logolocal.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            color: black;
        }
        .Stock_1{
            width: 60%;
            @include flexdirection(flex, space-evenly, row, center);
            color: #c7c268;
            font-family: 'Crimson Pro', serif;
            text-align: center;
            .div_img{
                padding: 10px;
                img{
                    @include WandH100(50px, 50px);
                }
            }
            .stock_h2{
                font-size: 40px;
            }
        }
        .Stock_p{
            padding: 30px;
            text-align: center;
            font-size: 25px;
            font-family: 'Crimson Pro', serif;
            p{
                .SpanStock{
                    color: #c7c268;
                    font-style: italic;
                }
            }
        }
    }
}


//*Linea bienestar*//

//!seccion titulo//
.LineaBienestarH1{
    @include WandH100 (100%, 100px);
    background-image: url("../img/Seleccionadas/fondoh2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 60px 0px 60px 0px;

    div{
        @extend %flex;
        @include WandH100 (auto, 100px);
        backdrop-filter: blur(2px);
        padding: 4px;

        h1{
            @include tamañoletras (50px, 900);
            font-family: 'Crimson Pro', serif;
            color: #f0edd7;
            padding: 10px;
        }
    }
    
}

//!seccion prodcutos//
.LineaBienestar{
    @include WandH100 (auto, auto);
    .BienestarProductos{
        margin: 60px 150px 60px 150px;
        .ProductosBien1{
            @extend %gridproductos1;
            grid-template-areas: 
            "titulo parrafobienestar"
            "imagen parrafobienestar"
            "comprarbienestar parrafobienestar";
            color: #f0edd7;
            margin-top: 60px;
            margin-bottom: 100px;
            .TituloBienestar{
                grid-area: titulo;
                text-align: center;
                @extend %flex;
                h3{
                    border-bottom: #c7c268 solid 1px;
                    font-size: 28px;
                    font-family: 'Crimson Pro', serif;
                }
            }
            .ImagenBienestar{
                grid-area: imagen;
                img{
                    @extend %WHimgpages;
                    @extend %imgshadowtrans;
                    &:hover{
                        transform: scale(1.3) ;
                    }
                }
            }
            .ParrafoBienestar{
                grid-area: parrafobienestar;
                @extend %flex;
                text-align: center;
                padding: 30px;
                font-size: 25px;
                font-family: 'Crimson Pro', serif;
                p{
                    margin-bottom: 0;
                }
            }
            .ComprarBienestar{
                grid-area: comprarbienestar;
                @extend %flex;
                text-align: center;
                text-decoration: none;
                a{
                    @extend %abutton;
                    button{
                        @extend %button;
                        &:hover{
                            @extend %buttonhover;
                        }
                    }
                }
            }
        }
        .ProductosBien2{
            @extend %gridproductos2;
            grid-template-areas: 
            "parrafobienestar2 titulo2"
            "parrafobienestar2 imagen2"
            "parrafobienestar2 comprarbienestar2"
            ;
            color: #f0edd7;
            margin-top: 60px;
            margin-bottom: 80px;
            gap: 20px;
            .TituloBienestar2{
                grid-area: titulo2;
                @extend %flex;
                text-align: center;
                h3{
                    border-bottom: #c7c268 solid 1px;
                    font-size: 28px;
                    font-family: 'Crimson Pro', serif;
                }
            }
            .ImagenBienestar2{
                grid-area: imagen2;
                img{
                    @extend %WHimgpages;
                    @extend %imgshadowtrans;
                    &:hover{
                        transform: scale(1.3) ;
                    }
                }
            }
            .ParrafoBienestar2{
                grid-area: parrafobienestar2;
                @extend %flex;
                text-align: center;
                padding: 30px;
                font-size: 25px;
                font-family: 'Crimson Pro', serif;
                p{
                    margin-bottom: 0;
                }
            }
            .ComprarBienestar2{
                grid-area: comprarbienestar2;
                @extend %flex;
                text-align: center;
                text-decoration: none;
                a{
                    @extend %abutton;
                    button{
                        @extend %button;
                        &:hover{
                            @extend %buttonhover;
                        }
                    }
                }
            }
        }
    }
}

//*Linea capilar*//
//!seccion titulo//
.LineaCapilarH1{
    @include WandH100 (100%, 100px);
    background-image: url("../img/Seleccionadas/capilarh22.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 60px 0px 60px 0px;

    div{
        @extend %flex;
        @include WandH100 (auto, 100px);
        backdrop-filter: blur(2px);
        padding: 4px;

        h1{
            @include tamañoletras (50px, 900);
            font-family: 'Crimson Pro', serif;
            color: #f0edd7;
            padding: 10px;
        }
    }
}
//!seccion prodcutos//
.LineaCapilar{
    width: auto;
    height: auto; 
    .CapilarProductos{
        margin: 60px 200px 60px 200px;
        .ProductosCap1{
            @extend %gridproductos1;
            grid-template-areas: 
            "tituloC parrafocapilar"
            "imagenC parrafocapilar"
            "comprarcapilar parrafocapilar"
            ;
            color: #f0edd7;
            margin-top: 60px;
            margin-bottom: 80px;
            gap: 20px;
            .TituloCapilar{
                grid-area: tituloC;
                @extend %flex;
                text-align: center;
                h3{
                    border-bottom: #c7c268 solid 1px;
                    font-family: 'Crimson Pro', serif;
                    font-size: 28px;
                }
            }
            .ImagenCapilar{
                grid-area: imagenC;
                img{
                    @extend %WHimgpages;
                    @extend %imgshadowtrans;
                    &:hover{
                        transform: scale(1.3) ;
                    }
                }
            }
            .ParrafoCapilar{
                grid-area: parrafocapilar;
                @extend %flex;
                text-align: center;
                padding: 30px;
                font-size: 25px;
                font-family: 'Crimson Pro', serif;
                p{
                    margin-bottom: 0;
                }
            }
            .ComprarCapilar{
                grid-area: comprarcapilar;
                @extend %flex;
                text-align: center;
                text-decoration: none;
                a{
                    @extend %abutton;
                    button{
                        @extend %button;
                        &:hover{
                            @extend %buttonhover;
                        }
                    }
                }
            }
        }
        .ProductosCap2{
            @extend %gridproductos2;
            grid-template-areas: 
            ". tituloC2"
            "parrafocapilar2 imagenC2"
            ". comprarcapilar2";
            color: #f0edd7;
            margin-top: 60px;
            margin-bottom: 80px;
            gap: 20px;
            .TituloCapilar2{
                grid-area: tituloC2;
                @extend %flex;
                text-align: center;
                h3{
                    border-bottom: #c7c268 solid 1px;
                    font-family: 'Crimson Pro', serif;
                    font-size: 28px;
                }
            }
            .ImagenCapilar2{
                grid-area: imagenC2;
                img{
                    @extend %WHimgpages;
                    @extend %imgshadowtrans;
                    &:hover{
                        transform: scale(1.3) ;
                    }
                }
            }
            .ParrafoCapilar2{
                grid-area: parrafocapilar2;
                @extend %flex;
                text-align: center;
                padding: 30px;
                font-size: 25px;
                font-family: 'Crimson Pro', serif;
                p{
                    margin-bottom: 0;
                }
            }
            .ComprarCapilar{
                grid-area: comprarcapilar2;
                @extend %flex;
                text-align: center;
                text-decoration: none;
                a{
                    @extend %abutton;
                    button{
                        @extend %button;
                        &:hover{
                            @extend %buttonhover;
                        }
                    }
                }
            }
        }
        .ProductosCapCol{
            @include grid(grid, repeat(1,auto), 50px 307px 50px 240px);
            grid-template-areas: 
            "tituloCCol"
            "imagenCCol"
            "comprarcapilarCol"
            "parrafocapilarCol";
            justify-content: center;
            justify-items: center;
            color: #f0edd7;
            gap: 25px;
            margin: 30px 0px 30px 0px;
            .TituloCapilarCol{
                grid-area: tituloCCol;
                @extend %flex;
                @include WandH100(100px,50px);
                text-align: center;
                font-size: 18px;
                h3{
                    border-bottom: #c7c268 solid 1px;
                    font-family: 'Crimson Pro', serif;
                }
            }
            .ImagenCapilarCol{
                grid-area: imagenCCol;
                @extend %flex;
                @include WandH100(460px, 307px);
                img{
                    @extend %WHimgpages;
                    @extend %imgshadowtrans;
                    &:hover{
                        transform: scale(1.3) ;
                    }
                }
            }
            .ParrafoCapilarCol{
                grid-area: parrafocapilarCol;
                justify-content: center;
                font-size: 25px;
                font-family: 'Crimson Pro', serif;
                p{
                    text-align: center;
                    margin-bottom: 0;
                }
            }
            .ComprarCapilar{
                grid-area: comprarcapilarCol;
                @extend %flex;
                text-align: center;
                text-decoration: none;
                a{
                    @extend %abutton;
                    button{
                        @extend %button;
                        &:hover{
                            @extend %buttonhover;
                        }
                    }
                }
            }
        }
    }
}

//*Linea corporal*//
//!seccion titulo//
.lineaCorporalh1{
    @include WandH100 (100%, 100px);
    background-image: url("../img/Seleccionadas/corporalh2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 60px 0px 60px 0px;

    div{
        @extend %flex;
        @include WandH100 (auto, 100px);
        backdrop-filter: blur(2px);
        padding: 4px;

        h1{
            @include tamañoletras (50px, 900);
            font-family: 'Crimson Pro', serif;
            color: #f0edd7;
            padding: 10px;
        }
    }
}
//!seccion prodcutos//
.LineaCorporal{
    width: auto;
    height: auto;
    .CorporalProductos{
        margin: 60px 200px 60px 200px;
        .ProductosCorp1{
            @extend %gridproductos1;
            color: #f0edd7;
            margin-top: 60px;
            margin-bottom: 80px;
            grid-template-areas: 
            "titulocorp parrafocorp"
            "imagencorp parrafocorp"
            "comprarcorp parrafocorp"
            ;
            gap: 20px;
            .TituloCorporal{
                grid-area: titulocorp;
                text-align: center;
                @extend %flex;
                h3{
                    border-bottom: #c7c268 solid 1px;
                    font-size: 28px;
                    font-family: 'Crimson Pro', serif;
                }
            }
        }
        .ImagenCorporal{
            grid-area: imagencorp;
            img{
                @extend %WHimgpages;
                @extend %imgshadowtrans;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
        .ParrafoCorporal{
            grid-area: parrafocorp;
            @extend %flex;
            padding: 30px;
            text-align: center;
            font-size: 25px;
            font-family: 'Crimson Pro', serif;
            p{
                margin-bottom: 0;
            }
        }
        .ComprarCorporal{
            grid-area: comprarcorp;
            @extend %flex;
            text-align: center;
            text-decoration: none;
            a{
                @extend %abutton;
                button{
                    @extend %button;
                    &:hover{
                        @extend %buttonhover;
                    }
                }
            }
        }
        .ProductosCorp2{
            @extend %gridproductos1;
            grid-template-areas: 
            "parrafocorp2 titulocorp2"
            "parrafocorp2 imagencorp2"
            "parrafocorp2 comprarcorp2"
            ;
            color: #f0edd7;
            margin-top: 60px;
            margin-bottom: 80px;
            gap: 20px;
            .TituloCorporal2{
                grid-area: titulocorp2;
                text-align: center;
                @extend %flex;
                h3{
                    border-bottom: #c7c268 solid 1px;
                    font-size: 28px;
                    font-family: 'Crimson Pro', serif;
                }
            }
            .ImagenCorporal2{
                grid-area: imagencorp2;
                img{
                    @extend %WHimgpages;
                    @extend %imgshadowtrans;
                    &:hover{
                        transform: scale(1.3);
                    }
                }
            }
            .ComprarCorporal2{
                grid-area: comprarcorp2;
                @extend %flex;
                text-align: center;
                text-decoration: none;
                a{
                    @extend %abutton;
                    button{
                        @extend %button;
                        &:hover{
                            @extend %buttonhover;
                        }
                    }
                }
            }
        }

    }
}

//*Linea Dental*//
//!seccion titulo//
.LineaDentalH1{
    @include WandH100 (100%, 100px);
    background-image: url("../img/Seleccionadas/DentalH22.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 60px 0px 60px 0px;

    div{
        @extend %flex;
        @include WandH100 (auto, 100px);
        backdrop-filter: blur(2px);
        padding: 4px;

        h1{
            @include tamañoletras (50px, 900);
            font-family: 'Crimson Pro', serif;
            color: #f0edd7;
            padding: 10px;
        }
    }
}
//!seccion prodcutos//
.LineaDental{
    width: auto;
    height: auto; 
    .DentalProductos{
        @extend %flex;
        margin: 30px 200px 30px 200px;
        .ProductosDen{
            @include grid(grid, 100%, 40px 327px auto 40px);
            color: #f0edd7;
            margin-top: 60px;
            margin-bottom: 60px;
            grid-template-areas: 
            "titulodental"
            "imagendental"
            "parrafodental"
            "comprardental"
            ;
            gap: 20px;
            .TituloDental{
                grid-area: titulodental;
                @extend %titulopages;
                h3{
                    border-bottom: #c7c268 solid 1px;
                    font-size: 28px;
                    font-family: 'Crimson Pro', serif;
                }
            }
            .ImagenDental{
                grid-area: imagendental;
                display: flex;
                justify-content: center;
                img{
                    @include WandH100(500px, 327px);
                    @extend %imgshadowtrans;
                    &:hover{
                        transform: scale(1.3) ;
                    }
                }
                
            }
            .ParrafoDental{
                grid-area: parrafodental;
                @extend %titulopages;
                font-size: 25px;
                font-family: 'Crimson Pro', serif;
                p{
                    margin-bottom: 0;
                    padding: 10px;
                }
            }
            .ComprarDental{
                grid-area: comprardental;
                @extend %titulopages;
                text-decoration: none;
                a{
                    @extend %abutton;
                    button{
                        @extend %button;
                        &:hover{
                            @extend %buttonhover;
                        }
                    }
                }
            }
        }
    }
}

//*Linea facial*//
//!seccion titulo//
.LineaFacialH1{
    @include WandH100 (100%, 100px);
    background-image: url("../img/Seleccionadas/FacialH22.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 60px 0px 60px 0px;

    div{
        @extend %flex;
        @include WandH100 (auto, 100px);
        backdrop-filter: blur(2px);
        padding: 4px;

        h1{
            @include tamañoletras (50px, 900);
            font-family: 'Crimson Pro', serif;
            color: #f0edd7;
            padding: 10px;
        }
    }
}
//!seccion prodcutos//
.LineaFacial{
    width: auto;
    height: auto; 
    .FacialProductos{
        margin: 60px 200px 60px 200px;
        .ProductosFac1{
            @extend %gridproductos1;
            color: #f0edd7;
            margin-top: 60px;
            margin-bottom: 80px;
            grid-template-areas: 
            "titulofac parrafofac"
            "imagenfac parrafofac"
            "comprarfac parrafofac"
            ;
            gap: 20px;
        }
        .TituloFacial{
            grid-area: titulofac;
            @extend %titulopages;
            h3{
                border-bottom: #c7c268 solid 1px;
                font-size: 28px;
                font-family: 'Crimson Pro', serif;
            }
        }
        .ImagenFacial{
            grid-area: imagenfac;
            img{
                @extend %WHimgpages;
                @extend %imgshadowtrans;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
        .ParrafoFacial{
            grid-area: parrafofac;
            @extend %titulopages;
            padding: 30px;
            font-size: 24px;
            font-family: 'Crimson Pro', serif;
            p{
                margin-bottom: 0;
            }
        }
        .ComprarFacial{
            @extend %titulopages;
            grid-area: comprarfac;
            text-decoration: none;
            a{
                @extend %abutton;
                button{
                    @extend %button;
                    &:hover{
                        @extend %buttonhover;
                    }
                }
            }
        }
    }
    .ProductosFacialCol{
        @include grid(grid, 100%, 40px 327px 40px auto );
        color: #f0edd7;
        margin-top: 60px;
        margin-bottom: 60px;
        grid-template-areas: 
        "titulofacial"
        "imagenfacial"
        "comprarfacial"
        "parrafofacial"
        ;
        gap: 20px;
    }
    .TituloFacialCol{
        grid-area: titulofacial;
        @extend %titulopages;
        h3{
            border-bottom: #c7c268 solid 1px;
            font-size: 28px;
            font-family: 'Crimson Pro', serif;
        }
    }
    .ImagenFacialCol{
        grid-area: imagenfacial;
        display: flex;
        justify-content: center;
        img{
            @include WandH100(500px, 327px);
            @extend %imgshadowtrans;
            &:hover{
                transform: scale(1.3) ;
            }
        }
    }
    .ParrafoFacialCol{
        grid-area: parrafofacial;
        @extend %titulopages;
        font-size: 24px;
        font-family: 'Crimson Pro', serif;
        p{
            margin-bottom: 0;
            padding: 10px;
            .SpanParrafos:hover{
                color: #c7c268;
            }
        }
    }
    .ComprarFacialCol{
        grid-area: comprarfacial;
        @extend %titulopages;
        text-decoration: none;
        a{
            @extend %abutton;
            button{
                @extend %button;
                &:hover{
                    @extend %buttonhover;
                }
            }
        }
    }
}

//*Linea esencial*//
//!seccion titulo//
.LineaEsencialH1{
    @include WandH100 (100%, 100px);
    background-image: url("../img/Seleccionadas/Hidrolatos/7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 60px 0px 60px 0px;

    div{
        @extend %flex;
        @include WandH100 (auto, 100px);
        backdrop-filter: blur(2px);
        padding: 4px;

        h1{
            @include tamañoletras (50px, 900);
            font-family: 'Crimson Pro', serif;
            color: #f0edd7;
            padding: 10px;
        }
    }
}
//!seccion prodcutos//
.LineaEsencial{
    width: 100%;
    border-top: #c7c268 solid 2px;
    border-bottom: #c7c268 solid 2px;
    background-image: url("../img/Seleccionadas/HidrolatoNaranja.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .EsencialDiv{
        @include flexdirection(flex, center, column, center);
        backdrop-filter: blur(4px);
        .DesEsencial{
            @extend %titulopages;
            @include WandH100(80%, 250px);
            color: #f0edd7;
            font-family: 'Crimson Pro', serif;
            font-size: 30px;
            padding: 10px;
            p{
                margin-bottom: 0;
            }
        }
        .Hidrolatos{
            @extend %flex;
            width: 100%;
            .HidroDiv1{
                @include grid(grid, repeat(4,307px), 460px 40px);
                grid-template-areas: 
                "primera segunda tercera cuarta"
                "comprarfac comprarfac comprarfac comprarfac";
                gap: 20px;
                justify-items: center;
                align-items: center;
                padding: 10px;
                div{
                    img{
                        @include WandH100(307px, 460px);
                        @extend %imgshadowtrans;
                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                }
            }
            
        }
        .HidrolatosB{
            @extend %flex;
            width: 100%;
            margin-bottom: 20px;
            .HidroDiv2{
                @include grid(grid, repeat(3,460px), 307px);
                grid-template-areas: 
                "quinta sexta septima";
                gap: 20px;
                justify-items: center;
                align-items: center;
                padding: 10px;
                div{
                    img{
                        @extend %WHimgpages;
                        @extend %imgshadowtrans;
                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
    }
}
//!-------Seccion-contacto-------//
.contacto{
    @include flexdirection(flex, center, column, center);
    font-family: 'Crimson Pro', serif;
    color: #f9f5e4;
    border: black solid 24.5px;
    .contcont{
        border: #D4AF37 solid 3px;
        border-radius: 40px ;
        background-position: center;
        background-repeat: no-repeat;
        width: 50%;
        background-color: #1f1f1f;
        .textocontacto{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0px;
            h1{
                color: #c7c268 ;
                text-align: center;
                margin-top: 30px;
                font-size: 40px;
                font-weight: 600;
            }
            div{
                width: 70%;
                p{
                    align-items: center;
                    text-align: center;
                    padding: 10px;
                    margin: 0px;
                    font-size: 25px;
                    font-weight: 600;
                }
            }
        }
    }
    .formulario{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        form{
            width: 70%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .formularioconteiner{
                width: 100%;
                div{
                    margin: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    input{
                        width: 100%;
                        border: 1px solid black;
                        border-radius: 6px;
                        text-align: center;
                        background-color: #f9f5e4;
                        color: black;
                    }
                    h3{
                        color: #c7c268 ;
                        font-weight: 600;
                        font-size: 30px;
                        font-weight: 600;
                    }
                    textarea{
                        width: 100%;
                        height: 300px;
                        background-color: #f9f5e4;
                        border: 5px solid #c7c268;
                        border-radius: 6px;
                        background-image: url("../img/logos/Perfil-2.png");
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            .enviar{
                width: 70%;
                display: flex;
                flex-direction: row;
                justify-content:  space-evenly;
                text-align: center;
                margin-bottom: 10px;
                transition: 1s;
                div{
                    transition: 1s;
                    padding: 3px;
                    input{
                        font-family: 'Inter', sans-serif;
                        font-weight: 300;
                        padding: 6px;
                        border: #020108 2px solid;
                        border-radius: 10px;
                        font-weight: 600;
                        &:hover{
                            background-color: #37353d;
                            color: #f0edd7;
                            border-bottom: #c7c268 solid 2px;
                        }
                    }
                }
            }

        }
    }
}

//*Nosotros//
.nosotros{
    margin: 40px;
    background-image: url("../img/Seleccionadas/localcompleto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .filtrer{
        backdrop-filter: blur(5px);
        .Pnosotros{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            padding: 30px;
            width: 100%;
            .nosotros_img{
                width: 520px;
                height: 640px;
                display: flex;
                justify-content: center;
                width: 40%;
                margin: 0px 60px 0px 60px;
                img{
                    width: 520px;
                    height: 640px;
                }
            }
            .nosotros_p{
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                background-color: #f9f5e4;
                background-image: url("../img/logos/Perfil-2.png");
                background-repeat: no-repeat;
                width: 80%;
                height: 400px;
                background-position: center;
                border: #c7c268 5px solid;
                border-radius: 5px;
                margin: 20px;
                p{
                    padding: 20px;
                    font-family: 'Crimson Pro', serif;
                    font-size: 22px;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 0;
                }
            }
        }
        .row{
            div{
                img{
                    align-items: center;
                    &:hover{
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}