.hero{
    background-image: url("../img/Seleccionadas/planta1.JPG");
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.781);
    
    h1{
        @include tamañoletras (80px, 600);
        padding: 30px;
        font-family: 'Crimson Pro', serif;
        text-align: center;
        span{
            color: #c7c268;
            font-style: italic;
        }
    }
    .parrafo{
        @extend %flex;
        font-size: 30px;
        border: #00000067 solid 4px;
        margin-top: 10em;
        backdrop-filter: blur(15px);

        p{
            text-align: center;
        }
    }
}

/*!---------Lineas------------*/

.lineas{
    width: 100%;
    height: 100%;
    border-bottom:  #c7c268 solid 2px ;
    margin-top: 40px;

    h2{
        color: #f0edd7;
        text-align: center;
        margin: 30px;
        border-bottom: #c7c268 solid 1px;
        margin-left: 30%;
        margin-right: 30%;
        padding: 20px;

    }
    .lineas-contenedor{
        display: grid;
        @include grid (repeat(3,auto), repeat(3,auto));
        column-gap: 30px;
        justify-items: center;
        align-items: center;
        margin: 40px;

        div{
            @extend %flex;
            padding: 20px;
            position: relative;
            text-align: center;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
            h3{
                position: absolute;
                border: #00000067 solid 3px;
                left: 20%;
                right: 20%;
                backdrop-filter: blur(15px);
                color: #c7c268;
                text-align: center;
                font-family: 'Crimson Pro', serif;
                font-size: 25px;
            }

            a{
                @include WandH100 (406px, 307px);
                img{
                    @include WandH100 (406px, 307px);
                    border: #c7c268 solid 1px;
                }
            }

        }
    }
}


